$boxWidth:4rem;
$space:(40rem - $boxWidth*4) / 5;
$keyBoxWidth:40rem/3;
$keyBoxBorderWidth:1rem/3;

.password-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.password-container-skin{
  background-color: #686BC5;
}

.bar-left-item-skin:before{
  color: white;
}

.pass-box{
  position: relative;
  top: 14rem;
  width: 4rem;
  height: 4rem;
  float: left;
  margin-left: $space;
  text-align: center;
  line-height: 4rem;
}

.pass-box-skin{
  background-color: cadetblue;
  border: 2px solid white;
  color: white;
  font-size: x-large;
}

.key-board-wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40rem;
}

.keyboard-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: -$keyBoxBorderWidth;
}

.key-box{
  position: relative;
  float: left;
  width: $keyBoxWidth;
  height: 5.5rem;
  line-height: 5.5rem;
}

.key-box-skin{
  border-right: $keyBoxBorderWidth solid rgba(0,0,0,0.3);
  border-bottom: $keyBoxBorderWidth solid rgba(0,0,0,0.3);
  border-radius: 3px;
  background-color: cornflowerblue;
  background-size:$keyBoxWidth;
  text-align: center;
  color: white;
  font-size: large;
}

.key-box-skin:active{
  background-color: lightblue;
}