
$notifiViewHight: 44px;

/***提示view
**/
.notificationView {
  position: relative;
  height: $notifiViewHight;
  display: none;
  z-index: 999;
}

//文字动态居中必须设置内容的宽度
.notificationContent {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  height: $notifiViewHight;
  margin: 0 auto;
}

#notifyTxt {
  color: white;
  line-height: $notifiViewHight;
  font-size: large;
}

.notificationViewMoveIn {
  animation: movIn 0.4s;
  display: block;
  top: 0;
}

.notificationViewMoveOut {
  animation: movOut 0.3s;
  display: block;
  top: -$notifiViewHight;
}

@keyframes movIn {
  0% {
    top: -$notifiViewHight
  }
  100% {
    top: 0
  }
}

@keyframes movOut {
  0% {
    top: 0
  }
  100% {
    top: -$notifiViewHight
  }
}

/*************闪烁
*/

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

.blink {
  animation:fade 1000ms infinite;
  -webkit-animation:fade 1000ms infinite;
}